<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Title</title>
</head>
<body>
	<div class="col-md-4" th:fragment="productdiv">
		<div class="course-listing">
			<div class="row">
				<a href="product.html" th:href="@{'/product/'+${product.id}}">
					<div class="col-lg-12">
						<div class="course-box-image-container">
							<img role="presentation"
								src="../static/images/SpringIntroThumb.png"
								th:src="@{'/images/'+${product.imageUrl}}"
								class="course-box-image" />
						</div>
						<div class="course-listing-title" th:text="${product.courseName}">
							Course Title</div>
						<div class="course-listing-subtitle"
							th:text="${product.courseSubtitle}">Introductory Course for
							the Spring Framework</div>
					</div>
				</a>
			</div>
			<div class="row course-listing-extra-info col-xs-12">
				<div class="col-xs-8">
					<img align="left" alt="John Thompson"
						src="../static/images/instructor_jt.jpg"
						th:src="@{'/images/'+${product.author.image}}" class="img-circle" />
					<div class="small course-author-name"
						th:text="${(product.author.firstName) + ' ' + (product.author.lastName)}">
						John Thompson</div>
				</div>
				<div class="col-xs-4">
					<div class="small course-price"
						th:text="${product.price > 0 ? '$' + product.price : 'FREE'}">
						FREE</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>