<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{index.page.title}">Page Title</title>

<link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}" />

<script src="../static/js/jquery-2.1.4.min.js"
	th:src="@{/js/jquery-2.1.4.min.js}"></script>

<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />

<style th:remove="all">
.jumbotron {
	background: url('../static/images/SpringCoreJumbotron.jpg') no-repeat
		center center;
	height: 350px;
	color: white;
	text-shadow: #444 0 1px 1px;
}

body {
	color: #2b3636;
	font-family: "Proxima";
}

body {
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

*::before, *::after {
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

.view-directory .course-listing {
	background-color: rgba(255, 255, 255, 0.7);
}

.course-listing {
	background-color: #f7f7f7;
	border: 1px solid #f1f3f0;
	border-radius: 9px;
	box-shadow: 0 1px #f1f3f0;
	cursor: pointer;
	height: 390px;
	margin-bottom: 50px;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.course-listing .course-box-image-container {
	max-height: 208px;
	overflow: hidden;
}

.course-listing .course-box-image-container .course-box-image {
	border-bottom: 1px solid #ededed;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	display: block;
	margin: auto;
	width: 100%;
}

img {
	vertical-align: middle;
}

img {
	border: 0 none;
}

.course-listing .course-listing-title {
	color: #6cb44a;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	max-height: 70px;
	overflow: hidden;
	padding: 16px 16px 4px;
}

.course-listing .course-listing-subtitle {
	color: #586f6f;
	font-size: 14px;
	font-weight: 200;
	max-height: 65px;
	overflow: hidden;
	padding: 5px 16px;
}

.course-listing .course-listing-extra-info .course-price {
	color: #6eae50 !important;
	font-size: 15px;
	font-weight: bold;
	line-height: 34px;
	padding-right: 10px;
	text-align: right;
}

.course-listing .course-listing-extra-info .course-author-name {
	font-size: 15px;
	font-weight: 200;
	line-height: 30px;
	max-height: 30px;
	overflow: hidden;
	padding-left: 5px;
}

.course-listing .course-listing-extra-info .course-bundle {
	font-size: 15px;
	font-weight: 200;
	line-height: 30px;
}
</style>

</head>
<body>
	<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
		<div class="container">
			<h1>Spring Framework Guru</h1>
			<p class="lead" th:text="#{index.courses.tagline}">Tag line</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="#{index.courses.headline}">Courses Headline</h1>
			</div>
		</div>

		<div class="row course-list list">
			<div class='row course-list list'>
				<div th:each="product,it : ${products}">
					<div th:if="${(it.count gt 0 and it.count lt 4)}">
						<div th:replace="fragments/productdiv :: productdiv"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row course-list list">
			<div class='row course-list list'>
				<div th:each="product,it : ${products}">
					<div th:if="${(it.count gt 3 and it.count lt 7)}">
						<div th:replace="fragments/productdiv :: productdiv"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row course-list list" th:remove="all">
			<div class="col-md-4">
				<div class="course-listing">
					<div class="row">
						<a href="product.html" th:href="@{/product/1}">
							<div class="col-lg-12">
								<div class="course-box-image-container">
									<img role="presentation"
										src="../static/images/SpringIntroThumb.png"
										th:src="@{images/SpringIntroThumb.png}"
										class="course-box-image" />
								</div>
								<div class="course-listing-title">Introduction to Spring</div>
								<div class="course-listing-subtitle">Introductory Course
									for the Spring Framework</div>
							</div>
						</a>
					</div>
					<div class="row course-listing-extra-info col-xs-12">
						<div class="col-xs-8">
							<img align="left" alt="John Thompson"
								src="../static/images/instructor_jt.jpg"
								th:src="@{images/instructor_jt.jpg}" class="img-circle" />
							<div class="small course-author-name">John Thompson</div>
						</div>
						<div class="col-xs-4">
							<div class="small course-price">FREE</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course-listing">
					<div class="row">
						<a data-role="course-box-link" href="product.html"
							th:href="@{/product/4}">
							<div class="col-lg-12">
								<div class="course-box-image-container">
									<img role="presentation"
										src="../static/images/SpringCoreThumb.png"
										th:src="@{images/SpringCoreThumb.png}"
										class="course-box-image" />
								</div>
								<div class="course-listing-title">Spring Core</div>
								<div class="course-listing-subtitle">The Fundamentals of
									Spring Framework</div>
							</div>
						</a>
					</div>
					<div class="row course-listing-extra-info col-xs-12">
						<div class="col-xs-8">
							<img align="left" alt="John Thompson"
								src="../static/images/instructor_jt.jpg"
								th:src="@{images/instructor_jt.jpg}" class="img-circle" />
							<div class="small course-author-name">John Thompson</div>
						</div>
						<div class="col-xs-4">
							<div class="small course-price">$99</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course-listing">
					<div class="row">
						<a data-role="course-box-link" href="product.html"
							th:href="@{/product/5}">
							<div class="col-lg-12">
								<div class="course-box-image-container">
									<img role="presentation"
										src="../static/images/SpringCoreAdvancedThumb.png"
										th:src="@{images/SpringCoreAdvancedThumb.png}"
										class="course-box-image" />
								</div>
								<div class="course-listing-title">Spring Core Advanced</div>
								<div class="course-listing-subtitle">Advanced Topics of
									Spring Core</div>
							</div>
						</a>
					</div>
					<div class="row course-listing-extra-info col-xs-12">
						<div class="col-xs-8">
							<img align="left" alt="John Thompson"
								src="../static/images/instructor_jt.jpg"
								th:src="@{images/instructor_jt.jpg}" class="img-circle" />
							<div class="small course-author-name">John Thompson</div>
						</div>
						<div class="col-xs-4">
							<div class="small course-price">$99</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row course-list list" th:remove="all">
			<div class="col-md-4">
				<div class="course-listing">
					<div class="row">
						<a data-role="course-box-link" href="product.html"
							th:href="@{/product/6}">
							<div class="col-lg-12">
								<div class="course-box-image-container">
									<img role="presentation"
										src="../static/images/SpringCoreDevOpsThumb.png"
										th:src="@{images/SpringCoreDevOpsThumb.png}"
										class="course-box-image" />
								</div>
								<div class="course-listing-title">Spring Core Dev Ops</div>
								<div class="course-listing-subtitle">Managing and
									Deploying Spring Applications in the Enterprise</div>
							</div>
						</a>
					</div>
					<div class="row course-listing-extra-info col-xs-12">
						<div class="col-xs-8">
							<img align="left" alt="John Thompson"
								src="../static/images/instructor_jt.jpg"
								th:src="@{images/instructor_jt.jpg}" class="img-circle" />
							<div class="small course-author-name">John Thompson</div>

						</div>
						<div class="col-xs-4">
							<div class="small course-price">$15</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course-listing">
					<div class="row">
						<a data-role="course-box-link" href="product.html"
							th:href="@{/product/2}">
							<div class="col-lg-12">
								<div class="course-box-image-container">
									<img role="presentation"
										src="../static/images/SpringCoreUltimateThumb.png"
										th:src="@{images/SpringCoreUltimateThumb.png}"
										class="course-box-image" />
								</div>
								<div class="course-listing-title">Spring Core Ultimate</div>
								<div class="course-listing-subtitle">The Ulitmate Bundle
									of my Spring Courses</div>
							</div>
						</a>
					</div>
					<div class="row course-listing-extra-info col-xs-12">
						<div class="col-xs-8">
							<div class="small course-bundle">5 Course Bundle</div>
						</div>
						<div class="col-xs-4">
							<div class="small course-price">$147</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="course-listing">
					<div class="row">
						<a data-role="course-box-link" href="product.html"
							th:href="@{/product/3}">
							<div class="col-lg-12">
								<div class="course-box-image-container">
									<img role="presentation"
										src="../static/images/ThymeleafThumb.png"
										th:src="@{images/ThymeleafThumb.png}" class="course-box-image" />
								</div>
								<div class="course-listing-title">Thymeleaf</div>
								<div class="course-listing-subtitle">Rocking out Thymeleaf
									with Spring</div>
							</div>
						</a>
					</div>
					<div class="row course-listing-extra-info col-xs-12">
						<div class="col-xs-8">
							<img align="left" alt="John Thompson"
								src="../static/images/instructor_jt.jpg"
								th:src="@{images/instructor_jt.jpg}" class="img-circle" />
							<div class="small course-author-name">John Thompson</div>

						</div>
						<div class="col-xs-4">
							<div class="small course-price">$15</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>

</body>
</html>